body {
  font-family: sans-serif;
  background-color: #222;
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 20px 5px;
  /*background-color: hotpink;*/
  border: 2px solid #fff;

}

a:hover {
  background-color: hotpink;
  border: 2px solid hotpink;
}

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
